/* font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


body{
    font-family: 'Roboto Slab', serif;
}


.btn-inicio{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 2rem;
}

.mi-estilo-icon{
    font-size: 40px;
    z-index: 20;
    color: #4ab446;
    font-weight: 900;
}

.animado{
    opacity: 0;
    transition: all 0.5s;
}

/* header */
.header{
    background-color: #002C51;
    /* position: fixed;
    z-index: 100;
    top:0;
    left:0;
    right: 0; */
}
.contenedor-info{
    background-color: #001A2F !important;
}
.nav-header-top{
    color: mintcream;
    padding: .5rem;
}
.nav-header-top:hover{
    text-decoration: none;
}

.texto-link-header{
    color: mintcream;
}

/* mi-estilo-slide */
.estilos-mi-imagen{
    height: 65vh;
    width: 100%;
    object-fit: cover;
    
}
.contenedor-carousel{
    width: 100%;
   
}

.slide-fondo{
    width: 100%;
    /* min-height: 45vh; */
}

.slide-fondo::before{
    content: "";
    width: 100%;
    /* min-height: 45vh; */
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    background-image: linear-gradient(180deg, #002C51, #002d51da, #002d51bc, #002d516e,#002d5142);
    z-index: 1;
    
}
 /* quienes somos */
 .contenedor-flex{
     display: flex;
     justify-content:center;
     align-items: center;
 }

 .contenedor-quienes{
    
     flex: 0 1 80%;
     order: 2;
    }
.img-quienes-somos{
     flex: 0 1 50%;
    order: 1;
    text-align: right;
 }

 .estilos-img-quienes{
     width: 200px;
     height: 200px;
     border-radius: 100%;
 }

/* prueba grid */

.contenedor-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 280px;
    gap: 30px;
    
}
.contenido-grid{
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    

}

.contenido-grid-img{
    background-image: url(../img/img-grid3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 10px;

}





.contenido-grid-img:before{
    content: "";
    width: 100%;
    min-height:100% ;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 10px;
    position: absolute;
    top:0;
    left: 0;
    background-image: linear-gradient(360deg, #002C51, #002d51da, #002d51bc, #002d516e,#002d5142);


}


/* jumbotron-contenedor */

.trabaja-con-nosotros{
    background-image: url(../img/banner-consultorio.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-attachment: fixed;
    background-position: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    position: relative;

}

.contenedor-texto-estilo{
    color: snow;
    height: 90vh;
}

 .trabaja-con-nosotros:before{
    content: "";
    height: 90vh;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 34%, rgba(9,9,121,1) 100%, rgba(0,129,255,0.7035014689469538) 100%); 
    opacity:0.8;
} 


.texto-jumbotrom{
    z-index: 10;
}

.mi-estilo-boton-jumbotrom{
    background-color: steelblue;
    color: mintcream;
    display: inline-block;
    padding: 1rem;
    border-radius: .2rem;
    text-decoration: none;
    
    

}

.mi-estilo-boton-jumbotrom:hover{
    color: mintcream;
    background-color: midnightblue;
    text-decoration: none;
    transition: all 1s;
    
}


/* footer */
.footer{
    background-color: #002C51;
    color:mintcream
}
.estilo-footer{
    height: 20vh;
}



/* efecto scroll */


@media(max-width:768px){
    .img-quienes-somos{
        display: none;
    }
    .contenedor-grid{
        grid-template-columns: repeat(3, 1fr);  
    }
      
}

@media(max-width: 576px){
    .contenedor-grid{
       
        grid-template-columns: repeat(2, 1fr);
        
    }


}

@media(max-width:500px){
    .img-quienes-somos{
        display: none;
    }
    .contenedor-grid{
       
        grid-template-columns: repeat(1, 1fr);
        
    }
    

    
}



    


    


