/* font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


body{
    font-family: 'Roboto Slab', serif;
}

.animado{
    opacity: 0;
    transition: all 0.5s;
}

/* header */
.header{
    background-color: #002C51;
    /* position: fixed;
    z-index: 100;
    top:0;
    left:0;
    right: 0; */
}
.contenedor-info{
    background-color: #001A2F !important;
}
.nav-header-top{
    color: mintcream;
    padding: .5rem;
}
.nav-header-top:hover{
    text-decoration: none;
}

.texto-link-header{
    color: mintcream;
}

/* mi-estilo-slide */
.estilos-mi-imagen{
    height: 90vh;
    width: 100%;
    object-fit: cover;
    
}
.contenedor-carousel{
    width: 100%;
   
}

.contenedor-carousel::before{
    content: "";
    width: 100%;
    min-height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: linear-gradient(180deg, #002C51, #044880, #025da8b6);
    opacity: 0.5;
    
}


/* contenedor grid */
.contenedor-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: 280px;
}

.contenedor-imagen{
    position: relative;
    filter: brightness(0.9);   
}

.imagen-title{
    
    position: absolute;
    bottom: 0;
    color: snow;
    background: rgb(2,0,36);
    /* background: linear-gradient(90deg, rgba(2, 0, 36, 0.63) 0%, rgba(9,9,121,1) 10%, rgba(0,129,255,1) 100%);  */
    width: 100%;
    margin: 0;
    padding: .5rem;
    
    
    
}

.contenedor-imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.contenedor-imagen:nth-child(4){
    grid-column-start: span 2;
}

.contenedor-imagen:nth-child(5){
    grid-row-start: span 2;
}

.contenedor-imagen:nth-child(9){
    grid-column-start: span 2;
}



/* jumbotron-contenedor */

.trabaja-con-nosotros{
    background-image: url(../img/banner-consultorio.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-attachment: fixed;
    background-position: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    position: relative;

}

.contenedor-texto-estilo{
    color: snow;
    height: 90vh;
}

 .trabaja-con-nosotros:before{
    content: "";
    height: 90vh;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 34%, rgba(9,9,121,1) 100%, rgba(0,129,255,0.7035014689469538) 100%); 
    opacity:0.8;
} 


.texto-jumbotrom{
    z-index: 10;
}

.mi-estilo-boton-jumbotrom{
    background-color: steelblue;
    color: mintcream;
    display: inline-block;
    padding: 1rem;
    border-radius: .2rem;
    text-decoration: none;
    
    

}

.mi-estilo-boton-jumbotrom:hover{
    color: mintcream;
    background-color: midnightblue;
    text-decoration: none;
    transition: all 1s;
    
}







/* footer */
.footer{
    background-color: #002C51;
    color:mintcream
}
.estilo-footer{
    height: 20vh;
}

/* efecto scroll */


@media(max-width:768px){
    .img-quienes-somos{
        display: none;
    }

    /* .mi-estilo-block-nav{
        display: block !important;
        color: cornsilk;
    }
    .mi-estilo-none-nav{
        display: none !important;
    } */
}
@media(min-width: 768px){
    .contenedor-grid{
       
        grid-template-columns: repeat(4, 1fr);
        
    }

    .contenedor-imagen:nth-child(3){
        grid-column-start: span 2;
    }
    .contenedor-imagen:nth-child(4){
        grid-column-start: span 3;
    }

    .contenedor-imagen:nth-child(5){
        grid-row-start: span 3;

    }

    .contenedor-imagen:nth-child(9){
        grid-column-start: span 3;

    }


}


@media(min-width: 1024px){
    .contenedor-grid{
       
        grid-template-columns: repeat(5, 1fr);
        
    }

    .contenedor-imagen:nth-child(1){
        grid-column-start: span 2;
        grid-row-start: span 2;
    }

    .contenedor-imagen:nth-child(4){
        grid-column-start: span 1;
        
    }

    .contenedor-imagen:nth-child(2){
        grid-column-start: span 3;
        
    }
    .contenedor-imagen:nth-child(9){
        grid-row-start: span 2;
        
    }
    .contenedor-imagen:nth-child(3){
        grid-row-start: span 2;
        
    }

    .contenedor-imagen:nth-child(8){
        grid-row-start: span 2;
        
    }

    


    


}